<template>
    <div class="flex full-flex">
        <h1>Créer un nouvel article</h1>
        <div class="box col-sm-8 flex">
          <b-container fluid>
            <b-form-row>
              <b-col sm="2">
                <label for="Name">Nom de l'article</label>
              </b-col>
              <b-col sm="5">
                <b-form-input type="text" id="Name" name="Name" v-model="name" placeholder="Nom de l'article..."></b-form-input>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col sm="2">
                <label for="Description">Description</label>
              </b-col>
              <b-col sm="5">
                <b-form-textarea
                rows="5"
                max-rows="6"
                maxlength="250"
                id="Description"
                name="Description"
                v-model="description"
                placeholder="Description..."></b-form-textarea>
              </b-col>
            </b-form-row>
            <b-form-row>
                <b-button variant="outline-primary" @click="update" type="submit">
                Modifier l'article
                </b-button>
            </b-form-row>
            <b-alert :show="dismissCountDown" variant="danger" @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged">
                <p v-for="error in errors" :key="error">{{error}}</p>
                <b-progress
                  variant="danger"
                  :max="dismissSecs"
                  :value="dismissCountDown"
                  height="4px"
                ></b-progress>
              </b-alert>
          </b-container>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Create',
  data: () => ({
    description: '',
    name: '',
    id: '',
    article: '',
    errors: [],
    dismissSecs: 10,
    dismissCountDown: 0,
    showDismissibleAlert: false
  }),
  mounted () {
    fetch(`http://localhost:3000/api/articles/${this.$route.params.id}`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
        Authorization: 'Bearer ' + this.$store.state.security.token
      }
    }).then(res => res.json()).then((res) => {
      this.description = res.description
      this.name = res.name
      this.id = res.id
    })
  },
  methods: {
    update () {
      const body = {
        description: this.description,
        name: this.name
      }

      fetch(`http://localhost:3000/api/articles/${this.id}`, {
        method: 'PUT',
        body: JSON.stringify(body),
        headers: {
          'Content-Type': 'application/json',
          Authorization: 'Bearer ' + this.$store.state.security.token
        }
      })
        .then(res => res.json())
        .then((res) => {
          if (res.err === undefined) {
            this.$router.push({ name: 'articles-myArticles' })
          } else {
            Object.keys(res.err).forEach((elem) => {
              this.errors.push(res.err[elem][0])
            })
            this.showAlert()
          }
        })
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    }
  }
}
</script>

<style scoped>
  .flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex > input {
    margin-top: "10px"
  }

  .full-flex{
    height: 90vh;
  }

  .form-row {
    margin: 10px;
    justify-content: center;
  }

</style>
