<template>
    <div class="flex full-flex">
        <h1>Gérer les articles</h1>
          <b-row class="flex">
            <b-col sm="4">
              <div class="box card" @click="() => redirect('create')">
                <h2>Créer un nouvel article</h2>
              </div>
            </b-col>
            <b-col sm="4">
              <div class="box card" @click="() => redirect('myArticles')">
                <h2>Mes articles</h2>
              </div>
            </b-col>
          </b-row>
    </div>
</template>

<script>
export default {
  name: 'Articles',
  methods: {
    redirect (path) {
      this.$router.push({ name: 'articles-' + path })
    }
  }
}
</script>

<style scoped>
    .flex {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .full-flex {
        height: 80vh;
        margin-top: 5%;
    }

    .row {
      width: 100%;
      flex-direction: row!important;
      justify-content: center!important;
      margin-top: 5%;
    }

    .card {
      min-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.6s;
      transform: scale(1);
    }

    .card:hover {
        transition: 0.6s;
        transform: scale(1.1);
    }
</style>
