<template>
  <div class="flex full-flex">
    <b-row>
      <b-col sm="5">
        <h1 class="border-bottom">Liste des articles</h1>
      </b-col>
    </b-row>
    <b-row v-for="article in articles" :key="article.name">
      <div class="card col-sm-5" >
        <h1>{{article.name}}</h1>
        <p>{{article.description}}</p>
        <span>{{article.author}}</span>
        <b-button v-if="user !== '' && user.roles === 'ROLE_ADMIN' " variant="outline-primary" @click="() => redirect(article.id)">Modifier</b-button>
      </div>
    </b-row>
  </div>
</template>
<script>
export default {
  name: 'Articles',
  data: () => ({
    articles: [],
    user: ''
  }),
  mounted () {
    this.user = JSON.parse(this.$store.state.security.user)
    fetch('/api/articles', {
      method: 'GET',
      headers: {
        'Content-type': 'application/json',
        Authorization: 'Bearer ' + this.$store.state.security.token
      }
    }).then(res => res.json()).then((res) => {
      this.articles = res
    })
  },
  methods: {
    redirect (id) {
      this.$router.push({ name: 'articles-id', params: { id } })
    }
  }
}
</script>

<style scoped>
    .flex {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .full-flex {
        height: 80vh;
        margin-top: 5%;
    }

    .card {
      min-height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.6s;
      margin: 10px;
      transform: scale(1);
    }

    .border-bottom {
        border-bottom-color:rgb(163, 160, 167)!important
    }

    .row {
      width: 100%;
      display: flex;
      justify-content: center;
    }
</style>
