<template>
  <div class="flex full-flex">
    <h1>Mes articles</h1>
    <div class="allArticles">
      <div v-for="article in articles" :key="article.name" class="card col-sm-3">
        <h2>{{article.name}}</h2>
        <p>{{article.description}}</p>
        <div>
          <b-button variant="outline-primary" @click="redirect(article.id)">Modifier</b-button>
          <b-button variant="danger" @click.prevent="() => setArticleSelected(article)">Supprimer</b-button>
        </div>
      </div>
    </div>
    <b-row>
      <b-col sm="12">
        <b-alert :show="dismissCountDown" variant="success" @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged">
          <p>L'article {{articleSelected.name}} a bien été supprimé</p>
          <b-progress
            variant="success"
            :max="dismissSecs"
            :value="dismissCountDown"
            height="4px"
          ></b-progress>
        </b-alert>
      </b-col>
    </b-row>

    <b-modal id="modal-suppression" title="Suppression de l'article">
      <p class="my-4">Êtes vous sur de vouloir supprimer l'article "{{articleSelected.name}}"</p>
      <template #modal-footer>
        <b-button variant="outline-primary" @click.prevent="deleteArticle">Oui</b-button>
        <b-button variant="danger" @click.prevent="closeModal">Non</b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'MyArticles',
  data: () => ({
    articles: [],
    articleSelected: '',
    dismissSecs: 10,
    dismissCountDown: 0,
    showDismissibleAlert: false
  }),
  mounted () {
    fetch('/api/articles/get-my-articles', {
      method: 'GET',
      headers: {
        Authorization: 'Bearer ' + this.$store.state.security.token
      }
    }).then(res => res.json()).then((res) => {
      if (res.err !== undefined) {
        this.$store.commit('security/disconnect')
        this.$router.push({ name: 'login' })
      } else {
        this.articles = res
      }
    })
  },
  methods: {
    setArticleSelected (article) {
      this.$bvModal.show('modal-suppression')
      this.articleSelected = article
    },
    closeModal () {
      this.$bvModal.hide('modal-suppression')
    },
    redirect (id) {
      this.$router.push({ name: 'articles-id', params: { id } })
    },
    deleteArticle () {
      fetch(`/api/articles/${this.articleSelected.id}`, {
        method: 'DELETE',
        headers: {
          Authorization: 'Bearer ' + this.$store.state.security.token
        }
      }).then(res => res.json).then(() => {
        this.showAlert()
        this.closeModal()
        const index = this.articles.findIndex(element => element.name === this.articleSelected.name)
        this.articles.splice(index, 1)
      })
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    }
  }
}
</script>

<style scoped>
    .flex {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .full-flex {
        height: 80vh;
        margin-top: 5%;
    }

    .card {
      min-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.6s;
      transform: scale(1);
    }

    .allArticles {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
    .row {
      width: 100%;
    }
</style>
