<template>
    <div>
        <b-navbar variant="dark" type="dark">
          <div v-if="!connected">
            <b-navbar-brand tag="NuxtLink" to="/login">Connexion</b-navbar-brand>
            <b-navbar-brand tag="NuxtLink" to="/inscription">Inscription</b-navbar-brand>
          </div>
          <div v-else>
            <b-navbar-brand tag="NuxtLink" :to="{ name: 'articles' }">Liste des articles</b-navbar-brand>
            <b-navbar-brand tag="NuxtLink" :to="{ name: 'articles-gerer'} ">Gérer les Articles</b-navbar-brand>
            <b-navbar-brand tag="b-button" @click.prevent="disconnect">Déconnexion</b-navbar-brand>
          </div>
        </b-navbar>
    </div>
</template>

<script>

export default {
  name: 'Navbar',
  methods: {
    disconnect () {
      this.$store.commit('security/disconnect')
      this.$router.push({ name: 'login' })
    }
  },
  mounted () {
    if (process.browser && localStorage.getItem('JWT')) {
      this.$store.commit('security/connect', localStorage.getItem('JWT'))
    }
  },
  computed: {
    connected () {
      console.log(this.$store.state.security.authenticated)
      return this.$store.state.security.authenticated
    }
  }
}
</script>

<style>
 div > nav > div {
   width: 100%;
 }

 div > nav > div > button {
   position: relative;
   float: right;
 }
</style>
