<template>
  <section class="container">
    <div>
      <Logo />
      <h1 class="title">
        USERS
      </h1>
      <ul class="users">
        <li v-for="(user, index) in users" :key="index" class="user">
          <nuxt-link :to="{ name: 'users-id', params: { id: index }}">
            {{ user.name }}
          </nuxt-link>
        </li>
      </ul>
      {{fullName}}
      <nuxt-link class="button" to="/">
        Homepage
      </nuxt-link>
    </div>
  </section>
</template>

<script>
export default {
  async asyncData ({ $http }) {
    const data = await $http.$get('/api/users')
    return { users: data }
  },
  data: () => ({
    firstname: 'Rémi',
    lastname: 'FAVIEZ'
  }),
  head () {
    return {
      title: 'Users'
    }
  },
  methods: {
    myFirstMethod () {
      console.log('MyFirstMethod')
    }
  },
  computed: {
    fullName: {
      get () {
        return this.$data.firstname + ' ' + this.$data.lastname
      }
    }
  }
}
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title
{
  margin: 30px 0;
}
.users
{
  list-style: none;
  margin: 0;
  padding: 0;
}
.user
{
  margin: 10px 0;
}
.button
{
  display: inline-block;
  margin-top: 50px;
}
</style>
