<template>
    <div class="flex full-flex">
        <h1>Inscription</h1>
        <div class="box col-sm-8 flex">
          <b-container fluid>
            <b-form-row>
              <b-col sm="2">
                <label for="Email">Email</label>
              </b-col>
              <b-col sm="5">
                <b-form-input type="text" id="Email" name="Email" v-model="email" placeholder="Email..."></b-form-input>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col sm="2">
                <label for="Password">Mot de passe</label>
              </b-col>
              <b-col sm="5">
                <b-form-input type="password" id="Password" name="Email" v-model="password" placeholder="Mot de passe..."></b-form-input>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col sm="2">
                <label for="firstname">Prénom</label>
              </b-col>
              <b-col sm="5">
                <b-form-input type="text" id="firstname" name="firstname" v-model="firstname" placeholder="Prénom..."></b-form-input>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col sm="2">
                <label for="lastname">Nom</label>
              </b-col>
              <b-col sm="5">
                <b-form-input type="text" id="lastname" name="lastname" v-model="lastname" placeholder="Nom..."></b-form-input>
              </b-col>
            </b-form-row>
            <b-form-row>
                <b-button variant="outline-primary" @click.prevent="register">
                S'inscrire
              </b-button>
            </b-form-row>
              <b-alert :show="dismissCountDown" variant="danger" @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged">
                <span v-html="errors"></span>
                <b-progress
                  variant="danger"
                  :max="dismissSecs"
                  :value="dismissCountDown"
                  height="4px"
                ></b-progress>
              </b-alert>
          </b-container>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Login',
  data: () => ({
    email: '',
    password: '',
    firstname: '',
    lastname: '',
    errors: '',
    dismissSecs: 10,
    dismissCountDown: 0,
    showDismissibleAlert: false
  }),
  methods: {
    register () {
      const body = {
        email: this.$data.email,
        password: this.$data.password,
        firstname: this.$data.firstname,
        lastname: this.$data.lastname
      }

      fetch('/api/users', {
        method: 'POST',
        body: JSON.stringify(body),
        headers: {
          'Content-type': 'application/json'
        }
      })
        .then(res => res.json())
        .then((res) => {
          console.log(res)
          if (res.err !== undefined) {
            res.err.forEach((elem) => {
              this.showAlert()
              this.errors = this.errors + '<br/>' + elem.message
            })
            this.errors = this.errors.substring(5)
          } else {
            this.$router.push('/login')
          }
        })
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    }
  }
}
</script>

<style scoped>
  .flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex > input {
    margin-top: "10px"
  }

  .full-flex{
    height: 90vh;
  }

  .form-row {
    margin: 10px;
    justify-content: center;
  }

</style>
