<template>
    <div class="flex full-flex">
        <h1>Login</h1>
        <div class="box col-sm-8 flex">
          <b-container fluid>
            <b-form-row>
              <b-col sm="2">
                <label for="Email">Email</label>
              </b-col>
              <b-col sm="5">
                <b-form-input type="text" id="Email" name="Email" v-model="email" placeholder="Email..."></b-form-input>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col sm="2">
                <label for="Password">Mot de passe</label>
              </b-col>
              <b-col sm="5">
                <b-form-input type="password" id="Password" name="Email" v-model="password" placeholder="Mot de passe..."></b-form-input>
              </b-col>
            </b-form-row>
            <b-form-row>
                <b-button variant="outline-primary" @click="login" type="submit">
                Se connecter
              </b-button>
            </b-form-row>
          </b-container>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Login',
  data: () => ({
    email: '',
    password: ''
  }),
  methods: {
    login () {
      const body = {
        email: this.email,
        password: this.password
      }

      fetch('/api/login', {
        method: 'POST',
        body: JSON.stringify(body),
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then(res => res.json())
        .then((res) => {
          if (res.token) {
            console.log(res.data)
            this.$store.commit('security/connect', { token: res.token, user: JSON.stringify(res.data) })
            this.$router.push({ name: 'articles' })
          }
        })
    }
  }
}
</script>

<style scoped>
  .flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex > input {
    margin-top: "10px"
  }

  .full-flex{
    height: 90vh;
  }

  .form-row {
    margin: 10px;
    justify-content: center;
  }

</style>
